]4;0;#{{base00-hex}}\]4;1;#{{base08-hex}}\]4;2;#{{base0B-hex}}\]4;3;#{{base0A-hex}}\]4;4;#{{base0D-hex}}\]4;5;#{{base0E-hex}}\]4;6;#{{base0C-hex}}\]4;7;#{{base05-hex}}\]4;8;#{{base03-hex}}\]4;9;#{{base08-hex}}\]4;10;#{{base0B-hex}}\]4;11;#{{base0A-hex}}\]4;12;#{{base0D-hex}}\]4;13;#{{base0E-hex}}\]4;14;#{{base0C-hex}}\]4;15;#{{base07-hex}}\]4;16;#{{base09-hex}}\]4;17;#{{base0F-hex}}\]4;18;#{{base01-hex}}\]4;19;#{{base02-hex}}\]4;20;#{{base04-hex}}\]4;21;#{{base06-hex}}\]4;256;#{{base05-hex}}\]10;#{{base05-hex}}\]12;#{{base05-hex}}\]13;#{{base05-hex}}\]17;#{{base05-hex}}\]4;232;#{{base00-hex}}\]19;#{{base00-hex}}\]11;#{{base00-hex}}\]708;#{{base00-hex}}\