frame_color = "#{{base02-hex}}"
separator_color = "#{{base05-hex}}"
highlight = "#{{base0A-hex}}"

[base16_low]
    msg_urgency = low
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"

[base16_normal]
    msg_urgency = normal
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"

[base16_critical]
    msg_urgency = critical
    background = "#{{base0E-hex}}"
    foreground = "#{{base05-hex}}"
